.oculto {
    display: none;
    
}

#mensagemErro {
    color: red;
    margin-top: 10px;
}  

#mensagemErroTexto {
    color: red;
    margin-top: 10px;
}   

#mensagemErroEngajamento {
    color: red;
    margin-top: 10px;
}

#mensagemErroImagem {
    color: red;
    margin-top: 10px;
}

#mensagemErroCheckbox {
    color: red;
    margin-top: 10px;
}

#mensagemErroHashtag {
    color: red;
    margin-top: 10px;
}

#mensagemErroHashtag2 {
    color: red;
    margin-top: 10px;
}